<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/pss3733/Desktop/99Acres/PostmyAd">
        <classes>
        <class name="postmyadqatest.TestNew"><methods>
            <include name="launchChrome"/></methods>
        </class>
        </classes>
    </test>
</suite>