<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">




    <test name="post my ad">
        <classes>
            <class name="postmyadqatest.LoginTest"></class>
            <class name="postmyadqatest.RentResidentialApartmentTest"></class>
            <class name="postmyadqatest.Myntra"></class>

        </classes>
    </test>
</suite>